<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adeff2">  <td>21/07/10 22:35:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.InvalidFirstName@6f19ac19]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@2049051802</td>   <td></td> </tr>
<tr bgcolor="adeff2">  <td>21/07/10 22:35:34</td>   <td>1881</td> <td title="&lt;&lt;TestBase.StopDriver()[pri:0, instance:tests.InvalidFirstName@6f19ac19]">&lt;&lt;StopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2049051802</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>21/07/10 22:35:24</td>   <td>-8169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidFirstName.UserCanSearchForAnykeyword()[pri:1, instance:tests.InvalidFirstName@6f19ac19]">UserCanSearchForAnykeyword</td> 
  <td>main@2049051802</td>   <td></td> </tr>
<tr bgcolor="adeff2">  <td>21/07/10 22:35:06</td>   <td>-25981</td> <td title="&gt;&gt;TestBase.startDriver()[pri:0, instance:tests.InvalidFirstName@6f19ac19]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2049051802</td>   <td></td> </tr>
</table>
