<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.TestCasesParallel</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>UserCompareNumberOfsearchResultsIn1and2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserScrollDownAndGoToPage3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserScrollDownAndGoToPage2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserCanSearchForAnykeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ScreenshotOnFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopDriver</td>
<td>&nbsp;</td></tr>
</table>
