<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69e975">  <td>21/06/22 11:05:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseGrid.setUp(java.lang.String)[pri:0, instance:tests.TestCasesParallel@618c5d94]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:05:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseGrid.setUp(java.lang.String)[pri:0, instance:tests.TestCasesParallel@37b70343]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:07</td>   <td>23670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserCanSearchForAnykeyword()[pri:1, instance:tests.TestCasesParallel@37b70343]">UserCanSearchForAnykeyword</td> 
  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:26</td>   <td>42260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@37b70343]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:26</td>   <td>42282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserScrollDownAndGoToPage2()[pri:0, instance:tests.TestCasesParallel@37b70343]">UserScrollDownAndGoToPage2</td> 
  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:31</td>   <td>47309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@37b70343]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:31</td>   <td>47341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserScrollDownAndGoToPage3()[pri:0, instance:tests.TestCasesParallel@37b70343]">UserScrollDownAndGoToPage3</td> 
  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:33</td>   <td>49233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@37b70343]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:33</td>   <td>49235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserCompareNumberOfsearchResultsIn1and2()[pri:0, instance:tests.TestCasesParallel@37b70343]">UserCompareNumberOfsearchResultsIn1and2</td> 
  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:33</td>   <td>49935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@37b70343]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:33</td>   <td>50017</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.stopDriver()[pri:0, instance:tests.TestCasesParallel@37b70343]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1646333233</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:41</td>   <td>57713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserCanSearchForAnykeyword()[pri:1, instance:tests.TestCasesParallel@618c5d94]">UserCanSearchForAnykeyword</td> 
  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:45</td>   <td>61365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@618c5d94]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:45</td>   <td>61390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserScrollDownAndGoToPage2()[pri:0, instance:tests.TestCasesParallel@618c5d94]">UserScrollDownAndGoToPage2</td> 
  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:46</td>   <td>62255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@618c5d94]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:46</td>   <td>62260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserScrollDownAndGoToPage3()[pri:0, instance:tests.TestCasesParallel@618c5d94]">UserScrollDownAndGoToPage3</td> 
  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:47</td>   <td>63763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@618c5d94]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="9198bd">  <td>21/06/22 11:06:47</td>   <td>63771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCasesParallel.UserCompareNumberOfsearchResultsIn1and2()[pri:0, instance:tests.TestCasesParallel@618c5d94]">UserCompareNumberOfsearchResultsIn1and2</td> 
  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:47</td>   <td>63840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.ScreenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.TestCasesParallel@618c5d94]">&lt;&lt;ScreenshotOnFailure</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
<tr bgcolor="69e975">  <td>21/06/22 11:06:47</td>   <td>63842</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseGrid.stopDriver()[pri:0, instance:tests.TestCasesParallel@618c5d94]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@534321766</td>   <td></td> </tr>
</table>
